.cards{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.card{
  background-color: #f6f6f6;
  width: 180px;
  text-align: center;
  padding: 18px;
  border: 1px solid #eae9e9;
  border-radius: 4px;
  box-shadow: 2px 2px 2px #000000;
 }

.card img{
  width: 64px;
  border-radius: 50%;
}
