.container{
  margin: auto;
  width: 1290px;
}

.container h1{
  color:white;
  margin: 0px 0px;
  text-shadow: 2px 2px #000000;
}

.container p{
  color:white;
  text-shadow: 2px 2px #000000;
  padding:10px;
}

.container h2{
  text-align: center;
}
